/* login start */


.login-container{
    position: relative;
    /*width: 300px;*/    /*towfiq*/
    height: 500px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff; 
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


/* 
.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}
 */

/* 
.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}
 */

.avatar{
    width: 100px;height: 97px;
    margin: 10px auto 30px;
    border-radius: 100%;
    /* border: 2px solid #fff; */ /*towfiq*/
    background-size: cover;
}

.form-box input{
    /* width: 100%;    */ /*towfiq*/
    padding: 7px;
    /* height:40px;  */
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    /* border-radius: 5px 5px 0 0; */ /*towfiq*/
    text-transform: lowercase;
}

.form-box input[type="password"]{
    /* border-radius: 0 0 5px 5px; */ /*Towfiq*/
    /* border-top: 0; */
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.password{
    position: relative;
}

.password input[type="password"]{
    padding-right: 30px;
}

.password .glyphicon,#password2 .glyphicon {
    display:none;
    right: 15px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}
.btn-info {
	color: grey;
}

	.btn-info { color: #fff; background-color:#337ab7;}
	.btn-info:hover { color: #fff; background-color:#337ab7;}
	.login-container {margin-top: 8%;}
	.background-green {background-color: green}
	.color-white {color: white}
	.visible {display:none}
	.ggle-btn {	background-color: #df4930;}
	.ggl-info { color: #fff; background-color:#df4930;}
	.ggl-info:hover { color: #fff; background-color:#df4930;}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/* login end */
	.btn-info { color: #fff; background-color:#337ab7;}
	.btn-info:hover { color: #fff; background-color:#337ab7;}
	.login-container {margin-top: 8%;}
	.background-green {background-color: green}
	.color-white {color: white}
	.visible {display:none}
	.ggle-btn {	background-color: #df4930;}
	.ggl-info { color: #fff; background-color:#df4930;}
	.ggl-info:hover { color: #fff; background-color:#df4930;}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
